<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="layout/content_layout">
<th:block layout:fragment="content">
    <script type="text/javascript">
        //<[CDATA[
        $(function(){
            // 수정
            $('.btn-update').click(function(){

                if($("[name=paswrd]").val() == ''){
                    alert("비밀번호를 입력하세요.");
                    $("[name=paswrd]").focus();
                    return -1;
                }

                if($("[name=paswrd]").val() != $("[name=paswrd_02]").val()){
                    alert("비밀번호가 동일하지 않습니다.");
                    $("[name=paswrd_02]").focus();
                    return -1;
                }

                if(confirm("수정하시겠습니까?")){
                    $('#aform').attr({'method' : 'post', 'action' : '/auth/authPasswordInitUpdate.do'}).submit();
                }
            });

            // 취소
            $('.btn-cancel2').click(function(){
                window.close();
            });
        });
        //]]>
    </script>

    <div class="content_wrap_popup" id="content_wrap_popup">
        <h1><span class="blue">권한 관리 </span> 정보 초기화</h1>
        <div class="table_wrap">
            <h2>권한 관리 초기화 정보</h2>
            <form role="form" id="aform" method="post" th:action=@{/auth/authPasswordUpdate.do} class="row g-3" >
                <input type="hidden" name="memberId" th:value="${resultVO.memberId}" />

                <table class="t_left">
                    <caption>권한 관리 정보 초기화</caption>
                    <colgroup>
                        <col style="width: 35%">
                        <col style="width: auto">
                    </colgroup>
                    <tr>
                        <th><label >아이디</label></th>
                        <td th:text="${resultVO.usrId}" />
                    </tr>
                    <tr>
                        <th><label for="password_01">비밀번호</label></th>
                        <td>
                            <input type="password" id="password_01" class="w_200 mr_10" name="paswrd" value="1111" readonly>
                        </td>
                    </tr>
                    <tr>
                        <th><label for="password_02">비밀번호 확인</label></th>
                        <td><input type="password" id="password_02" class="w_200" name="paswrd_02" value="1111" readonly></td>
                    </tr>
                </table>
            </form>
            <div class="t_right">
                <button class="btn_grey mr_5 btn-update">수정</button>
                <button class="btn_grey_b btn-cancel2">취소</button>
            </div>
        </div>
    </div>
</th:block>
</html>
