<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="layout/content_layout">
<th:block layout:fragment="content">
    <script type="text/javascript">
        //<[CDATA[
        $(function(){
            // 닫기
            $('.btn-cancel2').click(function(){
                window.close();
            });
        });
        //]]>
    </script>

    <div class="content_wrap_popup" id="content_wrap_popup">
        <h1><span class="blue">권한 관리 </span> 정보 초기화</h1>
        <div class="table_wrap">
            <h2>권한 관리 초기화 정보</h2>
            <form role="form" id="aform" method="post" action="/auth/authPasswordUpdate.do" class="row g-3" >
                <input type="hidden" name="memberId" value="${resultVO.memberId}" />

                <table class="t_left">
                    <caption>권한 관리 정보 초기화</caption>
                    <colgroup>
                        <col style="width: 35%">
                        <col style="width: auto">
                    </colgroup>
                    <tr>
                        <th><label>아이디</label></th>
                        <td th:text="${resultVO.usrId}" />
                    </tr>
                    <tr>
                        <td colspan="2">
                            비밀번호가 초기화되었습니다.
                        </td>
                    </tr>
                </table>
            </form>
            <div class="t_right">
                <button class="btn_grey_b btn-cancel2">닫기</button>
            </div>
        </div>
    </div>
</th:block>
</html>
